<footer>
    <div class="title">
        <div>Made remotely with love by Shubham.</div>
        <img src="../../assets/icons/dog.svg" />
    </div>
    <div class="columns">
        <div class="column">
            <div class="col-title">PRODUCT</div>
            <div class="entry">Heliverse for Figma</div>
            <div class="entry">Heliverse for FigJam</div>
            <div class="entry">Heliverse for Sketch</div>
            <div class="entry">Heliverse for AdobeXD</div>
            <div class="entry">Heliverse for Chrome</div>
            <div class="entry">Heliverse for Firefox</div>
            <div class="entry">Heliverse for Edge</div>
            <div class="entry">Heliverse for Safari</div>
            <div class="entry">Heliverse for Arc</div>
            <div class="entry">Heliverse for Brave</div>
        </div>
        <div class="column">
            <div class="col-title">RESOURCES</div>
            <div class="entry">Blog</div>
            <div class="entry">Library</div>
            <div class="entry">Release Notes</div>
        </div>
        <div class="column">
            <div class="col-title">HELP</div>
            <div class="entry">My Account</div>
            <div class="entry">Support Docs</div>
            <div class="entry">Contact Us</div>
            <div class="entry">Feature Requests</div>
        </div>
        <div class="column">
            <div class="col-title">COMPANY</div>
            <div class="entry">Press Releases</div>
            <div class="entry">Privacy Policy</div>
            <div class="entry">Cookie Policy</div>
            <div class="entry">Security Overview</div>
            <div class="entry">Status</div>
            <div class="entry">Terms of Service</div>
            <div class="entry">GDPR</div>
            <div class="entry">Code of Conduct</div>
        </div>
    </div>
    <div class="last">
        <div class="icons">
            <div><i class="fa-brands fa-xl fa-x-twitter"></i></div>
            <div><i class="fa-brands fa-xl fa-instagram"></i></div>
            <div><i class="fa-brands fa-xl fa-slack"></i></div>
            <div><i class="fa-brands fa-xl fa-linkedin"></i></div>
            <div><i class="fa-brands fa-xl fa-youtube"></i></div>
            <div><i class="fa-brands fa-xl fa-dribbble"></i></div>
        </div>
        <div class="copyright">SHUBHAM TANDON, COPYRIGHT 2023</div>
    </div>
</footer>