<main>
    <div class="welcome">
        <div class="h1">Welcome To</div>
        <div class="h2">Heliverse Teams</div>
    </div>
    <div class="arrow">
        <a href="#teams">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="select-num" *ngIf="selectedNumber>0">Selected: {{selectedNumber}}</div>

    <div id="teams">
        <div class="search-filter">
            <div class="search-bar">
                
                <input [(ngModel)]="nameQuery" type="search" placeholder="Search by Name" />
                <button (click)="SearchByName()" type="submit"><img src="../../assets/icons/search.svg" /></button>
                
            </div>
            <div class="filters">
                <div>Filter By: </div>
                <div>
                    <div>Gender: </div>
                    <div><button (click)="AddGender('Male')">Male</button></div>
                    <div><button (click)="AddGender('Female')">Female</button></div>
                    <div><button (click)="AddGender('Agender')">Agender</button></div>
                    <div><button (click)="AddGender('Bigender')">Bigender</button></div>

                </div>
                <div>
                    <div>Domain: </div>
                    <div><button (click)="AddDomain('IT')">IT</button></div>
                    <div><button (click)="AddDomain('Sales')">Sales</button></div>
                    <div><button (click)="AddDomain('Finance')">Finance</button></div>
                    <div><button (click)="AddDomain('Management')">Management</button></div>
                    <div><button (click)="AddDomain('UI Designing')">UI</button></div>
                    <div><button (click)="AddDomain('Marketing')">Marketing</button></div>
                    <div><button (click)="AddDomain('Business Development')">Business Development</button></div>
                </div>
                <div>
                    <div>Status</div>
                    <div><button (click)="AddAvailability(true)">Available</button></div>
                    <div><button (click)="AddAvailability(false)">Unavailable</button></div>
                </div>
                <div><button (click)="ApplyFilter()">Apply Filters</button></div>
                <div class="reset" *ngIf="anyChanges"><button (click)="Reset()">Reset</button></div>
            </div>
            
        </div>
        <div class="display">
            <div class="display-data" >
                
                <div class="card" *ngFor="let user of paginatedItems">
                    <div class="name">
                        <div><img src={{user.avatar}} /></div>
                        <div>{{user.first_name}} {{user.last_name}}</div>
                    </div>
                    <div class="details">
                        <div>Contact me at <span>{{user.email}}</span></div>
                        <div>I work in <span>{{user.domain}}</span></div>
                    </div>
                    <div><button *ngIf="user.available==true" [disabled]="user.available==false" class="add-btn" (click)="AddtoTeam(user)">Add To Team</button><button *ngIf="user.available==false"  [disabled]="user.available==false" (click)="AddtoTeam(user)">Unavailable</button></div>
                </div>
            </div>

            <div class="pages">
                <button [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1">Previous</button>

                <span>{{ currentPage }} / {{ totalPages }}</span>

                <button [disabled]="currentPage === totalPages" (click)="currentPage = currentPage + 1">Next</button>
            </div>
            <div *ngIf="team.size>0" class="final-btn"><button (click)="Finalise()">Finalise Team</button></div>
        </div>
    </div>
</main>