.welcome{
    padding: 6rem;
}

main>div:not(.select-num){
    margin: 0 auto;
    width: 55%;
}

main{ 
    border-radius: .4rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.h1,.h2{
    text-align: center;
    margin-bottom: 3rem;
}

.h1{
    font-size: clamp(3rem,4vw,4rem);
    animation: dFade 2s 1;
}

.h2{
    font-size: clamp(3rem,4vw,4rem);

    color: rgba(255, 243, 243,);
    background-color: #ffffff;
    font-weight: 800;
    animation: lFade 2s 1;
}
/* ------------------------------------- */
@keyframes lFade {
    0%{
        transform: translateX(-25%);
        opacity: 0;
    }    
}

@keyframes dFade {
    0%{
        transform: translateY(-25%);
        opacity: 0;
    }    
}

.arrow {
    
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
    cursor: pointer;
    margin-top: 1.5rem;
    display: flex;
    justify-content:center
}
.arrow a{
    width: 0 auto;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


/* main */

/* gender border */

.male{
    border: 2px solid lightblue;
}
.female{
    border: 2px solid lightpink;
}
.agender{
    border: 2px solid #ddd;
}
.bigender{
    border: 2px solid yellow;
}
.polygender{
    border: 2px solid green;
}
.fluid{
    border: 2px solid purple;

}
.queer{
    border: 2px solid black;
}
.non-binary{
    border: 2px solid orangered;
}

.select-num{
    border: 2px solid red;
    position: fixed;
    margin-left: 2px;
    font-weight: 500;
    width: 10%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 4px 0;
    font-size: clamp(.5rem,1vw,1rem);
}
#teams{
    margin-top: 5rem;
    min-width: 33%;
    max-width: 60%;
}

.search-filter{
    display: flex;
    flex-flow: column wrap;
}

.search-bar{
    display: flex;
}
.search-bar > *{
    border: 0;
    background-color: #ffffff00;
}
.search-bar > input{
    width: 95%;
    text-align: center;
}

input::placeholder{
    text-align: center;
}

.filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1rem 0;
}
.filter-btn{
    margin-bottom: .25rem;
    border: 0;
    background-color: #ffa2a2;
    border-radius: 2px;
    box-shadow: 2px 2px rgb(199, 122, 135)
}
.filter-btn:hover{
    
    background-color: rgb(199, 122, 135);
    border-radius: 4px;
    box-shadow: 2px 2px #ffa2a2;
}
.selected-filter{
    background-color: rgb(255, 198, 247);
    color: navy;
    font-weight: 600;
    box-shadow: 2px 2px #a2f9ff;
}

.display-data{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 2px;
    row-gap: 2px;
}



.card{
    width: 98%;
    border-radius: 5px;
}

.name{
    display: flex;
    align-items: center;
    padding: 0 .5rem 0 0;
    margin-bottom: .25rem;
}

.details{
    margin-bottom: .25rem;
}

.details>div:nth-child(1)>span{
    color: orangered;
    font-weight: 500;
}

.details>div:nth-child(2)>span{
    color: green;
    font-weight: 500;
}

.card>div:nth-child(3)>button{
    padding: 5px;
    border-radius: .5rem;
    font-weight: 600;
}

.add-btn{
    border: 2px solid violet;
    
    background: yellow;
    color: green;
}

.pages{
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
}

.pages button{
    padding: 2px 8px;
    background-color: rgb(138, 230, 138);
    border: 0;
}

.display>div:nth-child(3){
    display: flex;
    justify-content: center;
}
.final-btn{
    padding: 2px 8px;
    background-color: rgb(138, 230, 138);
    border: 0;
    width: 50%;
    height: 8vh;
    font-size: clamp(1rem,1vw,1.25rem);
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(40, 66, 40);
}

.apply{
    padding: 2px 8px;
    background-color: rgb(138, 224, 230);
    border: 0;
}

.reset>button{
    padding: 2px 8px;
    background-color: rgb(230, 198, 138);
    border: 0;
}